/* Reset de estilos para todos os elementos */
/* Define as propriedades básicas para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

/* Estilos do corpo da página */
/* Centraliza o conteúdo verticalmente e horizontalmente */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #dededf;
    /* Cor de fundo */
}

/* Estilos do contêiner principal */
/* Define o estilo do contêiner principal */
.container {
    background-color: #fff;
    /* Cor de fundo */
    height: 260px;
    /* Altura */
    width: 400px;
    /* Largura */
    border-radius: 10px;
    /* Borda arredondada */
    padding: 20px;
    /* Espaçamento interno */
    transition: 0.2s;
    /* Transição suave */
}

/* Estilos do contêiner quando está ativo (com a classe 'active') */
/* Define o estilo do contêiner quando está expandido */
.container.active {
    height: 500px;
    /* Altura aumentada */
}

/* Estilos do cabeçalho dentro do contêiner */
/* Define o estilo do cabeçalho */
#qr-header {
    text-align: center;
    /* Alinhamento do texto */
}

#qr-header h1 {
    font-size: 1.8rem;
    /* Tamanho da fonte */
    margin-bottom: 10px;
    /* Espaçamento inferior */
}

#qr-header p {
    color: #444;
    /* Cor do texto */
    font-size: 0.9rem;
    /* Tamanho da fonte */
}

/* Estilos do formulário dentro do contêiner */
/* Define o estilo do formulário */
#qr-form {
    margin: 20px 15px;
    /* Espaçamento externo */
}

#qr-form input,
#qr-form button {
    width: 100%;
    /* Largura total */
    height: 55px;
    /* Altura */
    border: none;
    /* Sem borda */
    border-radius: 5px;
    /* Borda arredondada */
    font-size: 0.9rem;
    /* Tamanho da fonte */
}

#qr-form input {
    border: 1px solid #777;
    /* Borda sólida */
    padding: 10px 15px;
    /* Espaçamento interno */
}

#qr-form button {
    background-color: #7746a5;
    /* Cor de fundo */
    color: #fff;
    /* Cor do texto */
    margin-top: 20px;
    /* Espaçamento superior */
    cursor: pointer;
    /* Cursor do mouse */
    opacity: 0.9;
    /* Opacidade */
    transition: 0.4s;
    /* Transição suave */
}

#qr-form button:hover {
    opacity: 1;
    /* Opacidade aumentada ao passar o mouse */
}

/* Estilos do código QR dentro do contêiner */
/* Define o estilo do código QR */
#qr-code {
    display: flex;
    /* Exibição flexível */
    opacity: 0;
    /* Opacidade inicial */
    border: 1px solid #ccc;
    /* Borda sólida */
    padding: 30px 0;
    /* Espaçamento interno */
    margin: 20px 15px;
    /* Espaçamento externo */
    justify-content: center;
    /* Alinhamento do conteúdo */
    border-radius: 5px;
    /* Borda arredondada */
    transition: 0.5s;
    /* Transição suave */
}

/* Estilos do código QR quando o contêiner está ativo */
/* Define o estilo do código QR quando o contêiner está expandido */
.container.active #qr-code {
    opacity: 1;
    /* Opacidade aumentada */
}

/* Estilo para o container de ícones sociais */
/* Define o estilo do contêiner de ícones sociais */
.social-links {
    font-size: 45px;
    /* Tamanho da fonte */
    position: absolute;
    /* Posição absoluta */
    bottom: 20px;
    /* Distância do fundo */
    right: 20px;
    /* Distância da direita */
    display: flex;
    /* Exibição flexível */
}

/* Estilo para os links dos ícones sociais */
/* Define o estilo dos links dos ícones sociais */
.social-link {
    margin-left: 10px;
    /* Espaçamento entre os ícones */
}